<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fnzb.dao.mapper.AuctionRecordDetailMapper" >
  <resultMap id="BaseResultMap" type="com.fnzb.dao.entity.AuctionRecordDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="bidders_price" property="biddersPrice" jdbcType="DECIMAL" />
    <result column="bidding_time" property="biddingTime" jdbcType="TIMESTAMP" />
    <result column="sar_id" property="sarId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bidders_price, bidding_time, sar_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sc_auction_record_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sc_auction_record_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fnzb.dao.entity.AuctionRecordDetail" >
    insert into sc_auction_record_detail (id, bidders_price, bidding_time, 
      sar_id)
    values (#{id,jdbcType=BIGINT}, #{biddersPrice,jdbcType=DECIMAL}, #{biddingTime,jdbcType=TIMESTAMP}, 
      #{sarId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.fnzb.dao.entity.AuctionRecordDetail" >
    insert into sc_auction_record_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="biddersPrice != null" >
        bidders_price,
      </if>
      <if test="biddingTime != null" >
        bidding_time,
      </if>
      <if test="sarId != null" >
        sar_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="biddersPrice != null" >
        #{biddersPrice,jdbcType=DECIMAL},
      </if>
      <if test="biddingTime != null" >
        #{biddingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sarId != null" >
        #{sarId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fnzb.dao.entity.AuctionRecordDetail" >
    update sc_auction_record_detail
    <set >
      <if test="biddersPrice != null" >
        bidders_price = #{biddersPrice,jdbcType=DECIMAL},
      </if>
      <if test="biddingTime != null" >
        bidding_time = #{biddingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sarId != null" >
        sar_id = #{sarId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fnzb.dao.entity.AuctionRecordDetail" >
    update sc_auction_record_detail
    set bidders_price = #{biddersPrice,jdbcType=DECIMAL},
      bidding_time = #{biddingTime,jdbcType=TIMESTAMP},
      sar_id = #{sarId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>