<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fnzb.dao.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.fnzb.dao.entity.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="BIGINT" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="id_picture" property="idPicture" jdbcType="VARCHAR" />
    <result column="is_verification" property="isVerification" jdbcType="TINYINT" />
    <result column="city_id" property="cityId" jdbcType="BIGINT" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="user_picture" property="userPicture" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, open_id, mobile, telephone, email, id_number, real_name, id_picture, is_verification, 
    city_id, city, user_picture, gmt_create, gmt_modified
  </sql>

  <select id="selectUserByMobile" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sc_user
    where mobile = #{mobile,jdbcType=BIGINT}
  </select>

  <select id="selectUserByUser" resultType="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from sc_user
    where open_id = #{openId,jdbcType=VARCHAR}
  </select>

  <select id="verifyIdNumber"  parameterType="java.lang.String" resultType="java.lang.String">
    select
    id
    from sc_user
    where id_number = #{idNumber,jdbcType=VARCHAR}
  </select>

  <select id="verifyIdNumber"  parameterType="java.lang.Long" resultType="java.lang.Long">
    select
    id
    from sc_user
    where mobile = #{mobile,jdbcType=BIGINT}
  </select>

  <select id="selectUserAll" resultMap="BaseResultMap" parameterType="com.fnzb.dao.entity.event.UserEvent">
    select
    <include refid="Base_Column_List" />
    from sc_user
    <trim prefix="where" prefixOverrides="and | or">
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR}
      </if>
      <if test="mobile != null" >
        mobile  like CONCAT('%', #{mobile,jdbcType=BIGINT} , '%')
      </if>
      <if test="idNumber != null" >
        id_number like CONCAT('%', #{idNumber,jdbcType=VARCHAR} , '%')
      </if>
      <if test="realName != null" >
        real_name like CONCAT('%', #{realName,jdbcType=VARCHAR} , '%')
      </if>
      <if test="isVerification != null" >
        is_verification = #{isVerification,jdbcType=TINYINT}
      </if>
      <if test="cityId != null" >
        city_id =#{cityId,jdbcType=VARCHAR}
      </if>
      <if test="city != null" >
        city =#{cityId,jdbcType=BIGINT}
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR}
      </if>
    </trim>
    order by id desc
    limit #{rowIndex},#{pageSize}
  </select>

  <select id="selectUserCount" parameterType="com.fnzb.dao.entity.event.UserEvent">
     SELECT COUNT(id) FROM sc_user
    <trim prefix="where" prefixOverrides="and | or">
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR}
      </if>
      <if test="mobile != null" >
        mobile  like CONCAT('%', #{mobile,jdbcType=BIGINT} , '%')
      </if>
      <if test="idNumber != null" >
        id_number like CONCAT('%', #{idNumber,jdbcType=VARCHAR} , '%')
      </if>
      <if test="realName != null" >
        real_name like CONCAT('%', #{realName,jdbcType=VARCHAR} , '%')
      </if>
      <if test="isVerification != null" >
        is_verification = #{isVerification,jdbcType=TINYINT}
      </if>
      <if test="cityId != null" >
        city_id =#{cityId,jdbcType=VARCHAR}
      </if>
      <if test="city != null" >
        city =#{cityId,jdbcType=BIGINT}
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>

  <delete id="deleteUserById" parameterType="java.util.List" >
    delete
    from sc_user
    where id in
    <foreach collection="list" open="(" close=")" separator="," item="id" index="index">
      #{id,jdbcType=BIGINT}
    </foreach>
  </delete>


  <insert id="insert" parameterType="com.fnzb.dao.entity.User" >
    insert into sc_user ( open_id, mobile,
      gmt_create)
    values (#{#{openId,jdbcType=VARCHAR}, #{mobile,jdbcType=BIGINT},
      #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>


  <update id="updateUser" parameterType="com.fnzb.dao.entity.User" >
    update sc_user
    <set >
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null" >
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="idPicture != null" >
        id_picture = #{idPicture,jdbcType=VARCHAR},
      </if>
      <if test="isVerification != null" >
        is_verification = #{isVerification,jdbcType=TINYINT},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=BIGINT},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="userPicture != null" >
        user_picture = #{userPicture,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where  mobile = #{mobile,jdbcType=BIGINT}
  </update>
</mapper>